@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  /* Colors */
  --color-brain-text: var(--theme-color-brain-text);
  --color-brain-secondary: var(--theme-color-brain-secondary);
}

/* Defaults for the whole App */
.default-theme {
  @apply text-brain-text text-pretty leading-relaxed;
}

#body {
  /* Some palettes https://tailwind-color.vercel.app */
  /* Background */
  @apply bg-gradient-to-bl from-pink-300 via-purple-300 to-indigo-400
  dark:bg-gradient-to-tr dark:from-blue-500 dark:via-violet-700 dark:to-gray-600;
}

@layer base {
  /* Light */
  :root {
    --theme-color-brain-text: #784945;
    --theme-color-brain-secondary: theme('colors.indigo.500');
  }

  /* Dark */
  [data-theme='dark'] {
    --theme-color-brain-text: theme('colors.white');
    --theme-color-brain-secondary: theme('colors.blue.700');
  }
}

.brain-a-link {
  @apply text-blue-400 hover:underline;
}
