@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  /* Colors */
  --color-brain-text: var(--theme-color-brain-text);
  --color-brain-secondary: var(--theme-color-brain-secondary);
  --color-brain-secondary-hover: var(--theme-color-brain-secondary-hover);
  --color-brain-secondary-light: var(--theme-color-brain-secondary-light);
}

/* Defaults for the whole App */
.default-theme {
  @apply text-brain-text text-pretty leading-relaxed;
}

#body {
  /* Some palettes https://tailwind-color.vercel.app */
  /* Background */
  @apply bg-gradient-to-bl from-pink-300 via-purple-300 to-indigo-400
  dark:bg-gradient-to-tr dark:from-blue-500 dark:via-violet-700 dark:to-gray-600;
}

@layer base {
  /* Light */
  :root {
    --theme-color-brain-text: #613c39;
    --theme-color-brain-secondary: theme('colors.indigo.500');
    --theme-color-brain-secondary-hover: color-mix(in srgb, var(--theme-color-brain-secondary), black 15%);
    --theme-color-brain-secondary-light: color-mix(in srgb, var(--theme-color-brain-secondary), white 35%);
  }

  /* Dark */
  [data-theme='dark'] {
    --theme-color-brain-text: theme('colors.white');
    --theme-color-brain-secondary: theme('colors.blue.600');
  }
}

.brain-a-link {
  @apply text-brain-secondary hover:underline;
}
